.section {
  height: 100vh;
  background: url('https://preview.ibb.co/fWrhbJ/hexagon_structure_1g_1633277.jpg') no-repeat center center fixed;
  background-size: cover;
  padding-top: 5em;
}

.section::before {
  top: 5%;
  left: 35%;
  height: 85%;
  width: 30%;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: lightgray;
  box-shadow: inset 0 0 0 30em rgba(255, 255, 255, 0.5);
  filter: blur(1em);
}
